.modal-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    font-size: 12px;
line-height: 1,16;
letter-spacing: 0.01em;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
outline: 0;
    &:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
}
}

.modal-form__input-wrap {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.modal-form__input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    .modal-form__input:focus + & {
    fill: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.modal-form__label {
    display: block;
    font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
}

.modal-form__textarea {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 12px;
line-height: 1,16;
letter-spacing: 0.01em;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
padding: 12px 16px;
outline: 0;
    &:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    &::placeholder {
    font-weight: 400;
font-size: 12px;
line-height: 1,16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
}

.modal-form__checkbox {
    text-align: center;
}

.modal-form__checkbox-label {
    font-weight: 400;
    font-size: 12px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #757575;
display: flex;
align-items: center;
justify-content: center;
    &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8.38px;
    flex-shrink: 0;
}
    @media screen and (max-width:479px) {
        font-size: 9px;
line-height: 1.16;
letter-spacing: 0.09em;
    }
    @include desktop {
        font-size: 14px;
        line-height: 1.71;
    }
}

.modal-form__checkbox-icon:checked + .modal-form__checkbox-label::before {
    background-color: var(--accent-color);
    background-image: url(../images/icons.svg/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: transparent;
}

.modal-form__checkbox-link {
    color: var(--accent-color);
    margin-left: 3px;
}

.modal-form__checkbox-btn {
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 55px;
margin-top: 30px;
    @media screen and (max-width:479px) {
        padding: 8px 20px;
    }
}