.menu-item-btn {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
padding: 6px 22px;
background: #F5F4FA;
border-radius: 4px;
    &:hover,
    &:focus {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.menu
.menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
        @include tablet {
            justify-content: center;
            margin-bottom: 30px;
        }
        @include desktop {
            margin-bottom: 50px;
        }
}

.menu-item:nth-child(-n + 3) {
    margin-bottom: 15px;
    @include tablet {
    margin-bottom: 0;
    }
}

.menu-item:not(:last-child) {
margin-right: 8px;
}