.works-list {
    display: flex;
flex-wrap: nowrap;
flex-direction: column;
    @include tablet {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
    @include desktop {
    margin-left: -30px;
    }

}

.works-item {
cursor: pointer;
display: flex;
flex-direction: column;
overflow: hidden;
width: 100%;
    @include tablet {
        width: calc(100% / 2 - 15px);
    }
    @include desktop {
        width: calc(100% / 3 - 30px);
        margin-left: 30px;
    }

    &:hover,
    &:focus {
background: #FFFFFF;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    @include desktop {
        &:nth-child(n + 7) {
        margin-bottom: 0;
        }
    }
}

.works-cover-wrap {
    position: relative;
    overflow: hidden;
    max-height: 294px;
}

.works-over-text {
    position: absolute;
    height: 100%;
    padding: 63px 24px;
    top: 1px;
    left: 0;
    font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;
background: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: transform 300ms;
    .works-item:hover & {
    transform: translateY(0);
}
}

.works-title {
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-color);
margin-bottom: 4px;
}

.works-after-title {
    font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--second-main-color);
}

.works-text {
background: #FFFFFF;
border: 1px solid #EEEEEE;
padding: 20px 24px;
border-top: 0;
flex-grow: 1;
}